.header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 100%;
    background: #1F2937;
    color: whitesmoke;
  
}

.logo {
    display: flex;
    align-items:flex-start;
    padding: 10px;
}

.headerlinks {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items:baseline;
    flex-direction: row;
    align-content: space-between;
    padding-left: 45%;
}

ul {
display: flex;
gap:20px;
}

li {
display: flex;
align-content:space-around;
gap: 35px;
}

.body {
display: flex;
align-items:center;
flex-direction: column;
}

button {
    font-style: normal;
    background: #3882f6;
    font-size: 12px;
    color: white;
    border-color: antiquewhite;
    border-radius: 12px;
    
}