header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;  
}

.logo   {
    width: 200px;
    height: 200px;

}

.container1 .container2 {
    color: #E5E7EB;
}

.nav-link {
}
.container1 .container2 {
    width: 100px;
    margin: 0 -5px;
}

.quote {
    height: auto;
    width: auto;
    padding: 5%;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    text-align: center;

}

footer {
    height: auto;
    width: auto;
    padding: 5%;
    background-color: #3882F6;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #E5E7EB;
    border-width: 3px;
    padding: 2px;
    width: 4%;
}

.piclist {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 10px;
}

il img {
    width: 200px;
    height: 200px;
    border-style: line;
    border-color: #3882F6;
    border-radius: 15px;
    border: 5px blue solid;
    margin: 15px;
}

h3 {
    font-size: 36px;
    text-align: center;
}