.header {
    overflow: hidden;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #f9faf8;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 35px;
    border-radius: 4px;
}

.header img.logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}


.header-right {
    float: right;
    margin: auto;
}

.header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header2_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.submit-button {
    margin-left: 10%;
    width: 14%;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    font-size: 20px;
    border-style: solid;
    padding: 10px;
    border-radius: 12px;
    border-color: black;
    cursor: pointer;
    position: relative;
}

h4 {
    font-size: 50px;
    margin: 0px;
    padding-left: 10%;
}

p {
    margin: 0px;
    padding-left: 10%;
    padding-bottom: 1%;
}

.header2_image {
    width: 300px;
    height: 200px;
    border-style: line;
    border-color: #3882F6;
    border-radius: 15px;
    border: 5px wheat;
    margin: 0px;
}



.quote {
    height: auto;
    width: auto;
    padding: 5%;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    text-align: center;

}

footer {
    background-color: #3882F6;
    padding: 20px;
    margin: 150px;
    border-radius: 15px;
    display: flex;
}

.footer {
    color: whitesmoke;
    font-size: 30px;
}


.signing-button {
    margin: auto;
    width: 10%;
    justify-content: center;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    font-size: 20px;
    border-style: solid;
    padding: 10px;
    border-radius: 12px;
    border-color: #E5E7EB;
    cursor: pointer;
    
}


.piclist {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

il img {
    width: 200px;
    height: 200px;
    border-style: line;
    border-color: #3882F6;
    border-radius: 15px;
    border: 5px blue solid;
    margin: 15px;
}

h3 {
    font-size: 36px;
    text-align: center;
}