html {
    background-color: black;
    color: wheat;
}

header {
background-color: darkgray;
margin: 0px;
display:flex;
flex-direction: row;
}

header img{
    max-width: 20%;
    max-height: 20%;
}

header h2 {
    font-size: 80px;
}

header ul {
    float: right;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    font-size: 25px;
}

header a {
    padding: 10px;
    margin: 10px;
    color: bisque;
}

body {
    width: 99%;
}