.header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 100%;
    background: #1F2937;
    color: whitesmoke;

}

.body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}


.logo {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.headerlinks {
    font-weight: bold;
    font-size: 20px;
    padding-left: 45%;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    display: flex;
    color: antiquewhite;
    align-content: space-around;
    gap: 35px;
}


button {
    background: #3882f6;
    font-style: normal;
    font-size: 22px;
    color: white;
    border-color: antiquewhite;
    border-radius: 10px;
    width: 100px;
}

#text1 {
    font-size: 40px;
    color: antiquewhite;
    background: #1F2937;
}